<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
        <img src="<%= eventground.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= eventground.title %></h5>
          <p class="card-text"><%= eventground.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted"><%= eventground.location %></li>
          <li class="list-group-item"><%= eventground.capacity %></li>
          <li class="list-group-item">$<%= eventground.price %>/day</li>
        </ul>
        <div class="card-body">
            <a class="card-link btn btn-info" href="/eventgrounds/<%= eventground._id %>/edit">Edit</a>
            <form class="d-inline" action="/eventgrounds/<%= eventground._id %>?_method=DELETE" method="POST">
                <button class="card-link btn btn-danger" >DELETE</button>
            </form>
        </div>
        <div class="card-footer text-center">
          <a href="/eventgrounds">All Event Grounds</a>
        </div>
      </div>
  </div>  
</div>
