<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Event Ground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/eventgrounds/<%= eventground._id %>?_method=PUT" method="POST" novalidate class="newGrounds" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="eventground[title]" value="<%= eventground.title %>" required >
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="eventground[location]" value="<%= eventground.location %>" required >
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Add images</label>
                    <input type="file" name="image" id="image" multiple>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="price">Eventground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="eventground[price]" value="<%= eventground.price %>" required >
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="capacity">Eventground Capacity</label>
                    <div class="input-group">
                        <span class="input-group-text" id="capacity-label">People</span>
                        <input type="text" class="form-control" id="capacity" placeholder="0" aria-label="capacity"
                            aria-describedby="capacity-label" name="eventground[capacity]" value="<%= eventground.capacity %>" required >
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="eventground[description]" required ><%= eventground.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add Image(s)</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class="mb-3">
                    <% eventground.images.forEach(function(img, i) {  %>
                        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                    <% })%> 
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Event Ground</button>
                </div>
            </form>
            <a href="/eventgrounds/<%= eventground._id %>">Back to All Event Grounds</a>
        </div>
       </div>