<% layout('layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 500px;"></div>
<h1>Event Grounds</h1>
    <div>
        <a href="/eventgrounds/new">Add new Event Ground</a>
    </div>
    <% for (let eventground of eventgrounds){%>
        <div class="card mb-3" >
            <div class="row">
                <div class="col-md-4">
                    <%if(eventground.images.length) {%>
                    <img class="img-fluid" alt="" src="<%=eventground.images[0].url%>">
                    <% }else {%>
                        <img class="img-fluid" alt=""
                            src="https://res.cloudinary.com/dpne2hq8r/image/upload/v1679063930/GroundsWatch/fkh4fsqo9hu2hefddde7.jpg">
                        <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= eventground.title %> </h5>
                        <p class="card-text"><%= eventground.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= eventground.location%></small>
                        </p>
                        <a class="btn btn-primary" href="/eventgrounds/<%=eventground._id%>">View <%=eventground.title%></a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
    const eventgrounds = {features: <%- JSON.stringify(eventgrounds) %> }
</script>

<script src="/scripts/clusterMap.js"></script>
